.foto_profil{
	width: 150px;
	height: 150px;
	border: 3px solid #666;
}
.foto{
	width: 75px;
	height: 75px;
	border: 1px solid #666;
}
.jarak{
	margin-bottom: 28px;
}
.center-crop {
  position: relative;
  width: 263px;
  height: 263px;
  overflow: hidden;
}
.center-crop img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.center-crop img.portrait {
  width: 100%;
  height: auto;
}